<header>
  <div class="header-content">
    {{!-- <div class="logo"> LOGO EI KÄYTÖSSÄ
      <a href="http://localhost:3000/">
      <img src="/images/cloudsky.jpg" alt="Weather-Diary-Logo-Cloudy">
      </a>  --}}
    </div>
      <div class="header-text">
      <h1>HELSINKI WEATHER DIARY -<br> place for historical weather information and your own notes!</h1>
    </div>
  </div>
</header>