<div class="container">
  <h1>Weather Diary</h1>
  <p>Welcome!</p>
  <form action="">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Weather</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="date" name="Date"></td>
          <td><input type="text" id="name" name="name"></td>
          <td>
            <input type="checkbox" id="checkbox1" name="checkbox1" value="Rainy">
            <label for="checkbox1"> Rainy</label><br>
            <input type="checkbox" id="checkbox2" name="checkbox2" value="Snowy">
            <label for="checkbox2"> Snowy</label><br>
            <input type="checkbox" id="checkbox3" name="checkbox3" value="Sunny">
            <label for="checkbox3"> Sunny</label>
          </td>
        </tr>
      </tbody>
    </table>
    <input type="submit" value="Submit">
  </form>
</div>