/* Footer styles */

footer {
  background-color: black;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
  position:static;
  bottom: 0;
  left: 0;
  right: 0;
}

hr {
  border: none;
  border-top: 1.5px solid black;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 75%;
}

.personaldiaryentry {
  margin-top: 0px;
}

#comment {
  width: 100%;
}

header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-text {
  color: white;
  text-align: center;
}

.text-center {
  text-align: center;
  color: black;
  margin-top: 30px;
  font-size: 18px;
}

.text-headings {
  text-align: center;
  color: black;
  margin-top: 30px;
  font-size: 24px;
}

.info-text {
  text-align: center;
  color: black;
  margin-top: 10px;
  font-size: 15px;
}

.logo img {
  max-height: 100px; 
  width: auto; 
}

.btn-lg {
  padding: 18px 30px;
  font-size: 18px;
  margin-left: 10px;
}

.btn-submit {
  padding: 18px 30px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.label-lg {
  font-size: 18px;
  margin-right: 10px;
}

.input-lg {
  padding: 28px 20px;
  font-size: 18px;
}

.desc {
  font-size: 18px;
  color:blue;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.date-view-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}



#scrollbar-tbody {
  display: block;
  height: 400px;
  overflow: auto;
}

#scrollbar-thead, #scrollbar-tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;/* even columns width , fix width of table too*/
}
#scrollbar-thead {
  width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
.scrollbar-table {
  width: 400px;
  align-items: center;
}

/*Add personal notes; read-only*/

#dateToAdd {
  border: 0;
}
