/* Footer styles */

footer {
  background-color: black;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
}

.personaldiaryentry {
  margin-top: 20rem;
}

#comment {
  width: 100%;
}

header {
  height: 140px; 
  background-color: black;
}

.logo img {
  max-height: 100px; 
  width: auto; 
  margin-top: 20px;
  margin-left: 20px;
}

